<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像アノテーションツール</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>

<body class="bg-gradient-to-r from-purple-100 via-pink-100 to-blue-100 text-gray-900 font-sans">
    <div class="container mx-auto p-8">
        <h1
            class="text-5xl font-extrabold mb-8 text-center bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 text-transparent bg-clip-text">
            画像アノテーションツール
        </h1>

        <div id="image-container" class="flex justify-center mb-6">
            <img id="image" src="" alt="Image" class="max-w-md border border-gray-300 shadow-md rounded-lg">
        </div>

        <div class="mb-4 text-center">
            <div class="grid grid-cols-5 gap-2">
                <!-- Indoor / Shopping and Dining -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="shopping and dining" data-tag="great hall">大ホール</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="shopping and dining" data-tag="backstage">舞台裏</button>

                <!-- Indoor / Workplace -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="conference room">会議室</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="corridor">廊下</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="elevator door">エレベータードア</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="escalator indoor">エスカレーター</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="lobby">ロビー</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="machine shop">工場</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="office">オフィス</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="office cubicles">オフィスの仕切り</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="reception">受付</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="restroom indoor">室内トイレ</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="staircase">階段</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="waiting room">待合室</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="workroom">作業室</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="workplace" data-tag="workshop">ワークショップ</button>

                <!-- Indoor / Home or Hotel -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="home or hotel" data-tag="kitchen">キッチン</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="home or hotel" data-tag="kitchenette">簡易キッチン</button>

                <!-- Indoor / Transportation -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="transportation"
                    data-tag="elevator lobby">エレベーターホール</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="indoor" data-sub-category="transportation" data-tag="entrance hall">入口ホール</button>

                <!-- Outdoor Natural / Water, Ice, Snow -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor natural" data-sub-category="water, ice, snow" data-tag="river">川</button>

                <!-- Outdoor Natural / Forest, Field, Jungle -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor natural" data-sub-category="forest, field, jungle"
                    data-tag="cottage garden">庭園</button>

                <!-- Outdoor Man-Made / Sports Fields, Parks, Leisure Spaces -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="sports fields, parks, leisure spaces"
                    data-tag="sports fields">スポーツフィールド</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="sports fields, parks, leisure spaces"
                    data-tag="parks">公園</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="sports fields, parks, leisure spaces"
                    data-tag="leisure spaces">余暇スペース</button>

                <!-- Outdoor Man-Made / Transportation -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation"
                    data-tag="bicycle racks">自転車置き場</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation" data-tag="bridge">橋</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation"
                    data-tag="carport outdoor">屋外駐車場</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation"
                    data-tag="crosswalk">横断歩道</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation" data-tag="overpass">陸橋</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation"
                    data-tag="parking lot">駐車場</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation"
                    data-tag="pedestrian overpass indoor">室内歩道橋</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="transportation"
                    data-tag="pedestrian overpass outdoor">屋外歩道橋</button>

                <!-- Outdoor Man-Made / Cultural or Historical -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="cultural or historical"
                    data-tag="campus">キャンパス</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="cultural or historical"
                    data-tag="plaza">広場</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made" data-sub-category="cultural or historical"
                    data-tag="tower">塔</button>

                <!-- Outdoor Man-Made / Commercial Buildings, Shops, Markets, Cities, and Towns -->
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="alley">路地</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="building facade">建物の外観</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="city">都市</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="convenience store outdoor">屋外コンビニ</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="doorway outdoor">屋外の入り口</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="downtown">繁華街</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="restroom outdoor">屋外トイレ</button>
                <button class="tag-button bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500"
                    data-category="outdoor man-made"
                    data-sub-category="commercial buildings, shops, markets, cities, and towns"
                    data-tag="street">街路</button>
            </div>
        </div>

        <div id="annotation-form" class="flex justify-center mb-4 space-x-2">
            <input type="text" id="tags-input" class="p-2 border border-gray-300 rounded-lg w-96" readonly
                placeholder="ここにタグが追加されます" />
            <button id="reset-btn" class="p-2 ml-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">リセット</button>
        </div>

        <div id="error-message" class="text-red-500 text-center text-xl m-4"></div>

        <div class="flex justify-center space-x-4">
            <button id="reject-btn" class="p-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">没データ</button>
            <button id="next-btn" class="p-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">次のデータへ</button>
        </div>

    </div>

    <script>
        const images = JSON.parse('{{ image_files | tojson | safe }}');
        let currentIndex = 0;
        let tagsArray = [];

        window.onload = function () {
            if (images.length > 0) {
                document.getElementById('image').src = images[currentIndex].path;
            }
        };

        document.querySelectorAll('.tag-button').forEach(button => {
            button.addEventListener('click', function () {
                const category = this.getAttribute('data-category');
                const subCategory = this.getAttribute('data-sub-category');
                const tag = this.getAttribute('data-tag');

                const fullTag = `category: ${category}, sub-category: ${subCategory}, tag: ${tag}`;

                if (!tagsArray.includes(fullTag)) {
                    tagsArray.push(fullTag);
                    updateTagsInput();
                }
            });
        });

        document.getElementById('reset-btn').addEventListener('click', function () {
            tagsArray = [];
            updateTagsInput();
        });

        function updateTagsInput() {
            document.getElementById('tags-input').value = tagsArray.join(' | ');
        }

        document.getElementById('reject-btn').addEventListener('click', function () {
            const confirmation = confirm('本当に没データですか？');
            if (confirmation) {
                tagsArray = ['category: N/A, sub-category: N/A, tag: False'];
                proceedToNext();
            }
        });

        document.getElementById('next-btn').addEventListener('click', function () {
            const errorMessage = document.getElementById('error-message');
            if (tagsArray.length === 0) {
                errorMessage.textContent = 'タグを少なくとも1つ選択してください。';
            } else {
                proceedToNext();
            }
        });

        async function proceedToNext() {
            const currentImage = images[currentIndex];
            const errorMessage = document.getElementById('error-message');
            errorMessage.textContent = '';

            const response = await fetch('/save_annotations', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    data_name: currentImage.path,
                    tags: tagsArray,
                    place: currentImage.place
                })
            });

            if (response.ok) {
                currentIndex++;
                if (currentIndex >= images.length) {
                    alert('全ての画像のアノテーションが完了しました！');
                    return;
                }
                document.getElementById('image').src = images[currentIndex].path;
                tagsArray = [];
                updateTagsInput();
            }
        }
    </script>

</body>

</html>